*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
.heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    gap :10px;
    height: 90%;
    width: 100%;
    background-color: grey;
}
.box{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}