*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
.heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}
.container{

}